* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #06aa48;
  --dark-main-color: #008d38;
  --dark-white: #eee;
  --white-default: #fff;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background-color: var(--dark-white);
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 1.5rem 4rem;

  font-size: 1.125rem;
}

/* Hamburgher menu */

header #access {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

header #access .icon_left-text_right {
  display: flex;
  column-gap: 0.5rem;
  cursor: pointer;
}

header #access .icon_left-text_right #menu-hamburger {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

header #access .icon_left-text_right #menu-hamburger:hover .row {
  background-color: rgb(204, 204, 204);
}

header #access .icon_left-text_right #menu-hamburger .row {
  height: 3px;
  width: 30px;
  background-color: rgb(255, 255, 255);
}

/* Options menu */

header #access #divisor {
  height: 24px;
  width: 2px;
  background-color: rgb(207, 207, 207);
}

header .logo h1 {
  font-size: 3rem;
}

/* Search-bar */

header #search-bar {
  background-color: var(--dark-main-color);
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

main {
  display: flex;
  padding: 3rem 10rem;
}

/* Videos section */

main .main-content {
  flex: 8;
  padding: 3rem;
}

/* Aside section */

main aside {
  padding: 1rem 1.5rem;
  flex: 3;
  border: 1px solid #ccc;
  background-color: var(--white-default);
}

main aside h3 {
  color: var(--main-color);
  margin-top: 0.5rem;
}

main aside .round-number {
  font-weight: 600;
  font-size: 0.85rem;
}

main aside .header-table {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

main aside .position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  margin-bottom: 0.75rem;
}

main aside .position .team {
  display: flex;
  gap: 1rem;
}

main aside .position .team .placing {
  font-size: 1.125rem;
  font-weight: bold;
  color: #999;
}

main aside .position .team img {
  width: 20px;
}

main aside .position .score-point {
  font-weight: bold;
}

main aside .position .results {
  display: flex;
  gap: 0.25rem;
}

main aside .ball {
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.win {
  background-color: var(--dark-main-color);
}

.lose {
  background-color: red;
}

.draw {
  background-color: #aaa;
}

main .main-videos .header-videos-content {
  display: flex;
  align-items: center;
}

main .main-videos .header-videos-content .title {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
}

main .main-videos .header-videos-content .icons {
  margin-left: auto;
  display: flex;
}

main .main-videos .header-videos-content .icons .icon {
  font-size: 3rem;
  margin-left: 1rem;
  font-weight: bold;
  color: #aaa;
  cursor: default;
}

main .main-videos .header-videos-content .icons #icon-active {
  font-size: 3rem;
  margin-left: 1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

main .main-videos .videos-container {
  display: flex;
}