* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #146f08;
  --dark-main-color: #0c500c;
  --dark-white: #eee;
  --white-default: #fff;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background-color: var(--dark-white);
}

/* btn */

.btn {
  float: right;
  margin-top: 10px;
  padding: .5rem 1rem;
  background: var(--main-color);
  border-radius: .30rem;
  color: #fff;
  text-decoration: none;
}

.btn2 {
  float: right;
  margin-right: 400px;
  margin-top: 10px;
  padding: .5rem 1rem;
  background: red;
  border-radius: .30rem;
  color: #fff;
  text-decoration: none;
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 1.5rem 4rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1.125rem;
}

/* Hamburgher menu */

header #access {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

header #access .icon_left-text_right {
  display: flex;
  column-gap: 0.5rem;
  cursor: pointer;
}

header #access .icon_left-text_right #menu-hamburger {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

header #access .icon_left-text_right #menu-hamburger:hover .row {
  background-color: rgb(204, 204, 204);
}

header #access .icon_left-text_right #menu-hamburger .row {
  height: 3px;
  width: 30px;
  background-color: rgb(255, 255, 255);
}

/* Options menu */

header #access #divisor {
  height: 24px;
  width: 2px;
  background-color: rgb(207, 207, 207);

}

header .logo h1 {
  font-size: 3rem;
}

/* Search-bar */

header #search-bar {
  background-color: #fff;
  color: #000;
  padding: 0.75rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

main {
  display: flex;
  padding: 3rem;
}

main .main-content {
  flex: 6;
  padding: 3rem;
}

/* Posts Slider */



/* Posts content section */

.content {
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  background-color: var(--white-default)
}

.content .main-content {
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--white-default)
}

.content .main-content .post {
  width: 100%;
  height: 270px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--white-default);
}

.content .main-content .post .post-image {
  width: 50%;
  height: 100%;
  float: left;
}

.content .main-content .post .post-preview {
  width: 50%;
  padding: 15px;
  float: right;
}

.content .main-content .recent-post-title {
  color: var(--main-color);
}

.content .main-content .recent-post-title {
  color: #0c500c;
}




/* Aside section */

main aside {
  padding: 1rem 1.5rem;
  flex: 4;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--white-default);
}

main aside h3 {
  color: var(--main-color);
  margin-top: 0.5rem;
}

main aside .round-number {
  font-weight: 600;
  font-size: 0.85rem;
}

main aside .header-table {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

main aside .position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  margin-bottom: 0.75rem;
}

main aside .position .team {
  display: flex;
  gap: 1rem;
}

main aside .position .team .placing {
  font-size: 1.125rem;
  font-weight: bold;
  color: #999;
}

main aside .position .team img {
  width: 25px;
}

main aside .position .score-point {
  font-weight: bold;
}

main aside .position .results {
  display: flex;
  gap: 0.25rem;
}

main aside .ball {
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.win {
  background-color: var(--dark-main-color);
}

.lose {
  background-color: red;
}

.draw {
  background-color: #aaa;
}

/* Videos section */

main .main-videos .header-videos-content {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--white-default)
}

main .main-videos .header-videos-content .title {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;

}

main .main-videos .header-videos-content .icons {
  margin-left: auto;
  display: flex;
}

main .main-videos .header-videos-content .icons .icon {
  font-size: 3rem;
  margin-left: 1rem;
  font-weight: bold;
  color: #aaa;
  cursor: default;
}

main .main-videos .header-videos-content .icons #icon-active {
  font-size: 3rem;
  margin-left: 1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

/* Videos container section */

main .main-videos .videos-container {
  display: flex;
}

main .videos-container .video {
  margin: 5px;
}

main .videos-container{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--white-default)
}

main .videos-container p {
  color: var(--dark-main-color);
}

/* Footer */

footer {
  align-items: center;
  background-color: var(--main-color);
  color: white;
  padding: 1.5rem 3rem;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}
